@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


.flex{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root{
    --base-clr: #fffffe;
    --secondbase-clr: #d1d1e9;
    --tertiary-clr: #e45858;
    --headline-clr: #2b2c34;
    --paragraph-clr: #2b2c34;
    --stroke-clr: #2b2c34;
    --highlight-clr: #6246ea;
    --button-clr: #fffffe;

    --input-box-width: 100%;
    --input-box-margin: 2.5vw;

    --chatbox-height: 85vh;
    --chatbox-width: 100%;
    --chatbox-margin-bottom: 1.5rem;
    --chatbox-margin-right: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin:0;
}

h3{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h4{
    margin-top: 1.1rem;
    margin-bottom: 0.5rem;
}

ul{
    margin-left:2.5rem;
    margin-bottom: 2rem;
}

pre{
    border-radius: 10px;
    background-color: var(--secondbase-clr);
    padding: 1.5rem;

    margin-top: 1rem;
    margin-bottom: 3rem;

    color: var(--headline-clr);
}

hr{
    border: none;
    background-color: var(--base-clr);
}

table{
    border: 1px solid;
    border-color: var(--secondbase-clr);
    border-radius: 20px;
    
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

body{
    background-color: var(--base-clr);
    color: var(--paragraph-clr);
}

.sidebar{
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    
    height: 100vh;
    width: 20vw;
    padding: 20px 1em; 
    
    /* Padding 5 pixels top and bottom, 1 em left and right. */
    background-color: var(--secondbase-clr);
    border-right: 0px solid var(--stroke-clr);

    position: sticky;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

.main{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    /* height: 80vh; */
    width: 80vw;

    padding-top: min(15px, 7%);
    padding-left: min(30px, 7%);
}

.chatBox{
    /* Outer */
    margin-bottom: var(--chatbox-margin-bottom);
    margin-right: var(--chatbox-margin-right);

    /* Inner */
    background-color: var(--base-clr);

    box-sizing: border-box;
    
    height: var(--chatbox-height);
    max-width: var(--chatbox-width);

    flex-direction: column;
    align-items: center;

    h2 {margin-top: 1em};
}

.chats{
    overflow: hidden;
    overflow-y: scroll;

    scroll-behavior: smooth;

    background-color: #2b2c34;

    scrollbar-color: var(--secondbase-clr);

    max-width: var(--chatbox-width);
    height: 100%;
}

.chat{
    background-color: var(--secondbase-clr);
    border-radius: 20px;
    display: flex;
    text-align: justify;

    margin-bottom: 1.5rem;
    margin-right: 2rem;
    padding: 1rem;
    
    justify-items:center;
    align-items: start;
}

.chat.bot{
    background-color: var(--base-clr);
    display: flex;
    text-align: justify;

    margin-bottom: 1.5rem;
    margin-right: 2rem;
    padding: 1rem;
    
    justify-content: flex-start;
    justify-items: baseline;
    align-items: start;
}

.chatIMG{
    margin-right: 1.25rem;
}


.inputBox{
    border: 1px solid var(--tertiary-clr);
    border-radius: 20em;

    /* Inner */
    padding: 1em;
    align-content:center;

    box-sizing: border-box;
    min-height: 1em;
    max-width: var(--chatbox-width);

    margin-right: var(--input-box-margin);
    margin-bottom: var(--input-box-margin);
}

.chatInput{
    padding: 0.1rem;
    background:#ffffff00;
    display: flex;
    
    height: .5rem;
    width: var(--input-box-width);

    align-items: center;
    justify-content: center;
}

.chatInput>input{
    border: 0px;
    outline: 0px;
    font-family: "Outfit", sans-serif;
    /* font-size: clamp(4dvw, 24px, 5%); */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#2b2c34;
    
    margin-left: 0.5rem;
    
    
    width: var(--input-box-width);
}

code{
    font-family:'Courier New', Courier, monospace;
    /* font-weight: 700 */
    align-items: center;
}

button{
    border: 0px;
    background-color:#ffffff00;
}

img{
    height: 1.25rem;
}